/*import fonts from google fonts*/
/* to add new font fontName|fontname|*/
@import url('https://fonts.googleapis.com/css2?family=Oswald|Sofia|Gotu|Lato|Roboto&display=swap' );

:root{
    /*subject to change*/
    --primary-color: darkmagenta;
    --light-gray: gray;
    --border: black;
    --text-color: darkgreen;
    --roboto: "Roboto",sans-serif;
    --soia: "Sofia", cursive;
    --oswald:"Oswald", bold;

    
}
/* Variables- can be called using var(****)*/
.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.darkmagenta{
    color: darkmagenta;
}
/*header*/

header{
    background-color: var(--primary-color);
    font-family: var(--oswald);
}

header .site-title{
    font-family: var(--roboto);
}
/*dropdown menu*/
.container .dropdown-toggle,
.container .dropdown-item{
    color: white;
    background-color: var(--primary-color);
    font-size:0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

/*Stylize Signin buttons*/
#signin_button { 
        background-color: #4CAF50; 
        color: white; 
        padding: 14px 20px; 
        margin: 8px 0; 
        border: none; 
        cursor: pointer; 
        width: 100%; 
    } 
/* set a hover effect for the button*/ 
button:hover { 
    opacity: 0.8; 
}

/*assign full width inputs*/ 
input[type=text], 
input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

/*set extra style for the cancel button*/ 
.cancelbtn { 
    width: auto; 
    float: left;
    padding: 10px 18px; 
    background-color: #f44336; 
    border: none;
}


/*set padding to the container*/ 
.container { 
    padding: 16px; 
}

/*set the forgot password text*/ 
span.psw { 
    float: right; 
    padding-top: 16px; 
} 

/*set the Modal background*/ 
.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px; 
}

/*style the model content box*/ 
.modal-content { 
    background-color: #fefefe; 
    margin: 5% auto 15% auto; 
    border: 1px solid #888; 
    width: 80%; 
}

/*style the close button*/ 
.close { 
    position: absolute; 
    right: 25px; 
    top: 0; 
    color: #000; 
    font-size: 35px; 
    font-weight: bold; 
}

.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
}

/* add zoom animation*/ 
.animate { 
    -webkit-animation: animatezoom 0.6s; 
    animation: animatezoom 0.6s 
} 

@-webkit-keyframes animatezoom { 
    from { 
        -webkit-transform: scale(0) 
    } 
    to { 
        -webkit-transform: scale(1) 
    } 
}

@keyframes animatezoom { 
    from { 
        transform: scale(0) 
    } 
    to { 
        transform: scale(1) 
    } 
}

@media screen and (max-width: 300px) { 
    span.psw { 
        display: block; 
        float: none; 
    } 
    .cancelbtn { 
        width: 100%; 
    } 
}

/* Navigation Menu*/

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav-link{
    font-size: 0.9em;
    color: var(--text-color)!important;
}

.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5rem !important;
}

/*Slider One*/

.site-slider{
    position: relative;
}
.position-top{
    position: absolute;
    top: 45%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
   background-color: var(--primary-color);
   padding: 1rem 1.5rem; 
   border-radius: 10rem;
   color: white;
   margin: 0 1rem;
   opacity: 0;
   transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity: 1;

}


.right-0{
    right:0;

}

/*slick Dots*/

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dot li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -9999px;

    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgb(0,0,0,0.205);
}

/* Second Slider */

.site-slider-two{
    position: relative;
    height: 30%;
}

.site-slider-two .product{
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.site-slider-two .product img{
    width:90%;
    margin: auto;
}

.site-bin .btn-span{
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color: white;
    color: var(--light-gray);
}

.site-slider-two .slick-track .product:hover span{
    background-color: var(--primary-color);
}
