/*import fonts from google fonts*/
/* to add new font fontName|fontname|*/
@import url('https://fonts.googleapis.com/css2?family=Oswald|Sofia|Gotu|Lato|Roboto&display=swap' );

:root{
    /*subject to change*/
    --primary-color: darkmagenta;
    --light-gray: gray;
    --border: black;
    --text-color: darkgreen;
    --roboto: "Roboto",sans-serif;
    --soia: "Sofia", cursive;
    --oswald:"Oswald", bold;

    
}
/* Variables- can be called using var(****)*/
.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.darkmagenta{
    color: darkmagenta;
}
/*header*/

header{
    background-color: var(--primary-color);
    font-family: var(--oswald);
}

header .site-title{
    font-family: var(--roboto);
}
/*dropdown menu*/
.container .dropdown-toggle,
.container .dropdown-item{
    color: white;
    background-color: var(--primary-color);
    font-size:0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

/* Navigation Menu*/

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav-link{
    font-size: 0.9em;
    color: var(--light-gray)!important;
}

.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5rem !important;
}
